<div class="container timeline-video">
    <div class="row">
        <div class="col-md-4 timeline-video-left">
            <div class="default-content timeline-video-left-content">
                <div class="top-profile text-center">
                    <div class="profile-image">
                        <div class="img-responsive white-bgr">
                            <img ng-src="images/people-10.jpg">
                        </div>
                    </div>
                    <div class="profile-desc">
                        <h3>Dayan Ramly Ramadhan</h3>
                        <a href="">View Profile</a>
                    </div>
                    <div class="video-counter">
                        <!-- <h3 id="username"></h3> -->
                        <div class="panel panel-default" id="panel-video">
                            <div class="panel-body">
                                <img ng-src="images/team02.jpg">
                                <!-- <video id="local-video" autoplay muted></video> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-menu">
                    <h4>Who's online</h4>
                    <ul>
                        <li>
                            <span class="user-active">
                                <i class="ion-record icon-green"></i> Dayan Ramly
                            </span>
                            <span class="user-action">
                                <a href="#">
                                    <i class="ion-ios-telephone call"></i>
                                </a>
                                <a href="#" onclick="initChat(1,'Dayan Ramly')">
                                    <i class="ion-ios-chatbubble chat"></i>
                                </a>
                                <a href="#">
                                    <i class="ion-ios-videocam video"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="user-active">
                                <i class="ion-record"></i> Galih Dwi Jatmiko
                            </span>
                            <span class="user-action">
                                <a href="#">
                                    <i class="ion-ios-telephone"></i>
                                </a>
                                <a href="#" onclick="initChat(2,'Galih Dwi Jatmiko')">
                                    <i class="ion-ios-chatbubble chat"></i>
                                </a>
                                <a href="#">
                                    <i class="ion-ios-videocam video"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="user-active">
                                <i class="ion-record icon-green"></i> Romi Halimman
                            </span>
                            <span class="user-action">
                                <a href="#">
                                    <i class="ion-ios-telephone call"></i>
                                </a>
                                <a href="#" onclick="initChat(3,'Romi Halimman')">
                                    <i class="ion-ios-chatbubble chat"></i>
                                </a>
                                <a href="#">
                                    <i class="ion-ios-videocam video"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="user-active">
                                <i class="ion-record"></i> Yanuar Arifin
                            </span>
                            <span class="user-action">
                                <a href="#">
                                    <i class="ion-ios-telephone call"></i>
                                </a>
                                <a href="#" onclick="initChat(4,'Yanuar Arifin')">
                                    <i class="ion-ios-chatbubble chat"></i>
                                </a>
                                <a href="#">
                                    <i class="ion-ios-videocam video"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="user-active">
                                <i class="ion-record"></i> Adi Setiawan
                            </span>
                            <span class="user-action">
                                <a href="#">
                                    <i class="ion-ios-telephone call"></i>
                                </a>
                                <a href="#" onclick="initChat(5,'Adi Setiawan')">
                                    <i class="ion-ios-chatbubble chat"></i>
                                </a>
                                <a href="#">
                                    <i class="ion-ios-videocam video"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="user-active">
                                <i class="ion-record"></i> Jonie Andrean
                            </span>
                            <span class="user-action">
                                <a href="#">
                                    <i class="ion-ios-telephone call"></i>
                                </a>
                                <a href="#" onclick="initChat(6,'Jonie Andrean')">
                                    <i class="ion-ios-chatbubble chat"></i>
                                </a>
                                <a href="#">
                                    <i class="ion-ios-videocam video"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 timeline-video-content">

            <div class="row video-content">
                <div class="col-md-12">
                    <div class="top-video-text">
                        <p>Ongoing Call</p>
                        <h4>Dayan Ramly Ramadhan</h4>
                    </div>
                    <div class="video-wrapper">
                        <div class="video-overlay"></div>
                        <img ng-src="images/bgr_video.jpg">
                    </div>
                    <div class="bottom-video-text">
                        <a href="" class="btn-disconnect"><i class="ion-ios-telephone"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>