/******** GENERAL STYLE **********/

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $grey-background;
	color: $text-color;
	font-family: $font;
	line-height: 1.5;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
	list-style-type: none;
	margin: 0 !important;
	padding: 0;
}

a, a:visited {
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		text-decoration: none;
		cursor: pointer;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;

	a {
		text-decoration: none;
	}
}