<!-- Main navigation -->
<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <nav class="navbar navbar-default nav-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#default-header" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img ng-src="images/logo_white.png"></a>
            </div>

            <div class="collapse navbar-collapse" id="default-header">
                <ul class="nav navbar-nav navbar-right right-content">
                    <li class="app-name">
                        Intellinum<strong> Apprtc</strong>
                    </li>
                    <li class="dropdown profile-dropdown" uib-dropdown is-open="status.isopen">
                    <a id="profile" type="button" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                        Dayan 
                        <img ng-src="images/people-10.jpg">
                        <span class="ion-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="profile">
                        <li><a ui-sref="auth">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>

