/******************************************************************

Forms

Based on: Bones - github.com/eddiemachado/bones

******************************************************************/

/*********************
INPUTS
*********************/

// setting up defaults
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
  display: block;
  vertical-align: middle;
  box-shadow: none;
  width: 100%;
  @include transition(background-color 0.24s ease-in-out);

  // a focused input (or hovered on)
  &:focus,
  &:active {
    outline: none;
  } // end hover or focus

  // a disabled input
  &[disabled],
  &.is-disabled {
    cursor: not-allowed;
    border-color: $disabled-gray;
    opacity: 0.6;

  } // end disabled input

} // end input defaults

// textareas
textarea {
  max-width: 100%;
  min-height: 120px;
  line-height: 1.5em;
}

.input-underline{
  border: 0;
  height: 45px;
  font-size: 1.1em;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid $white;
  box-shadow: none;
  outline: 0;
  color: $white;
  font-weight: 300;
  @include input-remove-outline();

  &::-webkit-input-placeholder {
    color: $white;
    font-weight: 200;
  }
  &:-moz-placeholder {
    color: $white;
    font-weight: 200;
  }
  &::-moz-placeholder {
    color: $white;
    font-weight: 200;
  }
  &:-ms-input-placeholder {
    color: $white;
    font-weight: 200;
  }
}

